h1, h2, h3{
    text-align: center;
}



 /* Estilo Código */

pre.prettyprint{
  font-size: 1rem;
  max-width: 50rem;
  overflow: scroll;

}

 /* Tablas CSS-Grid */
.tabla-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1px; 
    min-width: 50rem;
    width: 50rem;
    margin: 2rem auto;
  }

  .col-02 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
    gap: 1px;
  }

  .col-03 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 columnas de igual tamaño */
    gap: 1px;
  }

  .col-04 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 columnas de igual tamaño */
    gap: 1px;
  }

  .celda {
    background-color: white;
    padding: 8px;
    border: 1px solid black;
    text-align: left;
    margin-bottom: 1rem;
  }

  .encabezado {
    background-color: #f4f4f4;
    padding: 8px;
    border: 1px solid black;
    text-align: left;
    font-weight: bold;

  }
 /* ----------------------------------- */


  /* esto es para pagina met-predef */
  .container {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  .btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
 /* ----------------------------------- */

  .contenedor {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }

  .links {
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: black;
  }

  .links:hover {
    opacity: 80%;
    box-shadow: 0 5px grey;
    transform: scale(1.05);
  }

  .var {
    padding: 2rem;
    background-color: #cfaacd;
    border-radius: 2rem;
  }

  .tipos {
    padding: 2rem;
    background-color: #b5d26f;
    border-radius: 2rem;
  }

  .met {
    padding: 2rem;
    background-color: #b8b9b8;
    border-radius: 2rem;
  }

  .funciones {
    padding: 2rem;
    background-color: #fdbb9f;
    border-radius: 2rem;
  }

  .para {
    padding: 2rem;
    background-color: #b6c9de;
    border-radius: 2rem;
  }
